Firebase Credentials

This line prevents your secret service account key from being pushed to the repository.

serviceAccountKey.json

Java build output directories

/target/
/build/
/out/

Compiled Java class files

*.class

Log files

*.log
log/

IDE-specific files

IntelliJ

.idea/
*.iml
*.iws

Eclipse

.classpath
.project
.settings/

VS Code

.vscode/

Maven-specific files

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

Package files

*.jar
*.war
*.ear